/* init */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary_color: #111727;
  --secondary--color:#0b1320;
  --third--color:#137e81;
  --forth--color:white;
  --fifth--color:gray;
  --default--color:black;
  --search--before:rgb(184, 184, 184,0.1)
}
.light_mood{
  --primary_color: #b98caf;
  --secondary--color:#b891af;
  --third--color:#92387c;
  --forth--color:black;
  --fifth--color:#92387c;
  --default--color: rgb(80, 80, 80);
  --search--before: #c0a9c0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color:var(--default--color);
  /* padding-top: 30px; */
}
/*  for loader */
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary_color);
}
.loader {
    width: 8px;
    height: 40px;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    position: relative;
    background: currentColor;
    color:var(--third--color);
    box-sizing: border-box;
    animation: animloader 0.3s 0.3s linear infinite alternate;
    -webkit-animation: animloader 0.3s 0.3s linear infinite alternate;
}
  
  .loader::after, .loader::before {
    content: '';
    width: 8px;
    height: 40px;
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-sizing: border-box;
    animation: animloader 0.3s  0.45s  linear infinite alternate;
    -webkit-animation: animloader 0.3s  0.45s  linear infinite alternate;
}
  .loader::before {
    left: -20px;
    animation-delay: 0s;
  }
  @keyframes animloader {
    0%   {height: 48px} 
    100% {height:4px}
  } 
  
   header{
     width: 100%;
     height: 100%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     overflow: hidden;
     position: relative;
   }
   header .left-side , header .right-side{
    width: 25%;
    height: 90%;
    background-color: var(--primary_color);
    color: var(--forth--color);
   }
   header .left-side h1{
     font-size: 20px;
     font-weight: 700;
     margin: 10px 0px 0px 20px;
   }
   header .left-side #menu_list_active_btn{
   opacity: 0;
   }
   /* header .left-side.translate{
    transform: translateX(-100%);
} */
   header .left-side h4{
    opacity: 0.5;
    font-weight: 400;
    font-size: 15px;
    margin: 15px 0px 0px 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
header .left-side h4:hover{
 opacity: 1;
}

   
   header .left-side h4 span{
    position: relative;
}
header .left-side h4 span::before{
   position: absolute;
   content: '';
   width: 7px;
   height: 7px;
   border: 1px solid var(--forth--color);
   border-radius: 50%;
   margin-left: -10px;
   top:-3px;
}
   header .left-side h4 i{
    display:none;
   }
   header .left-side .playlist .active{
    color:var(--third--color);
    opacity: 1;
   }
   header .left-side .playlist .active span{
    display: none;
   }  
   header .left-side .playlist .active i{
    display: flex;
    margin:0px 10px 0px -10px ;
   }  
   header .left-side .songs-part{
    width: 100%;
    position: relative;
    height: 420px;
    margin-top: 20px;
    overflow: auto;
   }
   header .left-side .songs-part::-webkit-scrollbar{
    display: none;
   }
   header .left-side .songs-part li{
    list-style: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    /*background-color: rgba(105, 105, 105, 0.1);
    */transition: all 0.3 linear;
    -webkit-transition: all 0.3 linear;
    -moz-transition: all 0.3 linear;
    -ms-transition: all 0.3 linear;
    -o-transition: all 0.3 linear;
}
header .left-side .songs-part li:hover{
 background-color: rgba(105, 105, 105, 0.1);
}
header .left-side .songs-part li span{
 font-size: 12px;
 font-weight: 600;
 opacity: 0.4;
}
header .left-side .songs-part li img{
 height: 40px;
 width: 40px;
 margin-left: 20px;
}
header .left-side .songs-part li h5{
 font-size: 11px;
 margin-left:15px;
 width: 130px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space:nowrap;
}
header .left-side .songs-part li h5 .title{
  font-size: 9px;
  opacity: 0.5;
}
header .left-side .songs-part li i{
  position: absolute;
  right: 15px;
}
   
   header .right-side{
    width:75%;
    background-color: var(--secondary--color);
   }
   header .bottom-side{
    width:100%;
    height: 10%;
    background-color:var(--primary_color);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    
   }
   header .bottom-side .wave{
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
   }
   header .bottom-side .wave .wave1{
    width: 3px;
    height: 10px;
    background-color: var(--third--color);
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
    -webkit-animation: unset;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}
header .bottom-side .wave .wave1:nth-child(2){
 height: 13px;
 animation-delay: 0.4s; 
}
header .bottom-side .wave .wave1:nth-child(3){
  height: 8px;
  animation-delay: 0.8s; 
 }
 header .bottom-side .active .wave1{
  animation: wave 0.5s linear infinite;
  -webkit-animation: wave 0.5s linear infinite;
}
 header .bottom-side .active .wave1:nth-child(2){
  height: 13px;
  animation-delay: 0.4s; 
 }
 header .bottom-side .active .wave1:nth-child(3){
   height: 8px;
   animation-delay: 0.8s; 
  }
 @keyframes wave{
  0%{height: 10px;}
  50%{height: 15px;}
  100%{height: 10px;}
 }
 header .bottom-side img{
    height: 32px;
    width: 32px;
   }
   header .bottom-side #title{
    font-size: 13px;
    margin-left:10px;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    line-height: 17px;
    color:var(--forth--color)
   }
   header .bottom-side #title .subtitle{
    font-size: 10px;
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    
  }
  header .bottom-side .icons{
   color:var(--forth--color);
   display: flex;
   align-items: center;
   margin:0 30px 0 20px;
  }
  header .bottom-side .icons i{
    font-size: 15px;
    margin: 0px 10px 0px 20px;
    outline: none;
    cursor: pointer;
  }
  header .bottom-side .icons .shuffel{
    font-size: 17px;
    margin-right: 10px;
    width: 18px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  header .bottom-side .icons #download-music{
   font-size: 20px;
   margin-left: 10px;
  }
  header .bottom-side .icons i:nth-child(3){
    /* border: 1px solid rgb(105, 105, 105,0.1); */
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
    text-align: center;
  }
  header .bottom-side #currentRun{
   /* border: 1px solid white; */
   width: 32px;
   color: var(--forth--color);
   font-size: 11px;
   font-weight: 500;
   margin-left: 20px;
  }
  header .bottom-side .run{
   background-color:rgb(105, 105, 170.0.1);
   width: 50%;
   height: 2px;
   margin: 0px 15px 0px 10px;
   position: relative;
  }
  header .bottom-side .run .secondRun{
   position: absolute;
   top: 0;
   width: 0%;
   height: 100%;
   background-color: var(--third--color);
   transition: 1s linear;
   
}
header .bottom-side .run .circle{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--third--color);
    position: absolute;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}
header .bottom-side .run .circle::before{
 content: '';
 position: absolute;
 width: 15px;
 height: 15px;
 border: 0.5px solid var(--third--color);
 border-radius: 50%;
 left: -5.5px;
 top: -5.5px;
 box-shadow: inset 0 0 0 3px var(--third--color);
}
header .bottom-side .run input{
 position: absolute;
 width: 100%;
 top: -7px;
 left: 0;
 transition: 3s linear;
 cursor: pointer;
 z-index: 88888;
 opacity: 0;
}
header .bottom-side #currentEnd{
    width: 32px;
    color: var(--forth--color);
    font-size: 11px;
    font-weight: 500;
    margin-left: 20px;
}

  header .right-side{
   z-index: 2;
  }
  header .right-side::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 240px;
    background: url(assests/images/360_F_429161420_NBpiHCojyGDZyQWMW3Hh1hKq90Y9bPBp-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: 55%;
    top:3%;
    z-index: -1;
  }
  header .right-side nav{
     width: 90%;
     height: 10%;
     /* border: 1px solid white; */
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: auto;
  }
  header .right-side nav ul{
   display: flex;
  }
  header .right-side nav ul li{
   list-style: none;
   font-size: 13px;
   opacity: 0.5;
   margin-right: 25px;
   cursor: pointer;
   position: relative;
   transition: 0.5 linear;
   text-transform: capitalize;
}
header .right-side nav ul li:hover{
  opacity: 1;
}
/* header .right-side nav ul li:nth-child(1){
 opacity: 1;
} */
header .right-side nav ul li:hover span{
  position: absolute;
  width: 100%;
  height: 2.5px;
  background-color: var(--third--color);
  left:0;
  bottom: -5px;
  border-radius: 20px;
  transition: 0.4s;
}

header .right-side nav .search{
 position: relative;
 width: 40%;
 padding: 1px 10px;
 border-radius: 20px;
 color:var(--fifth--color);
}
header .right-side nav .search::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--search--before);
  border-radius: 20px;
  left: 0px;
  backdrop-filter: blur(5px);
  z-index: -1;
}
header .right-side nav .search i{
  font-size: 13px;
  padding: 3px 0 0 10px;
}
header .right-side nav .search input {
 background: none;
 outline: none;
 border: none;
 color: var(--forth--color);
 font-size: 12px;
 padding: 3px 10px;
}
header .right-side nav .search .search_result{
  position: absolute;
  width: 100%;
  height: 200px;
  /* border: 1px solid white; */
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  overflow: auto;
}
header .right-side nav .search .search_result::-webkit-scrollbar{
   display: none;
}
header .right-side nav .search .search_result .card{
  width: 100%;
  min-height: 45px;
  /* border: 1px solid white; */
  padding: 0 5px;
  display: none;
  align-items: center;
  text-decoration: none;
  background: rgb(184, 184, 184,0.1);
  margin-bottom: 5px;
}
header .right-side nav .search .search_result .card img{
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
header .right-side nav .search .search_result .card .content{
 width: 80%;
 height: 100%;
 /* border: 1px solid white; */
 padding: 0;
 font-size: 13px;
 font-weight: 600;
 color:white;
 display: flex;
 align-items:flex-start;
 justify-content: center;
 flex-direction: column;
}
header .right-side nav .search .search_result .card .content .title{
  font-size: 11px;
  font-weight: 500;
  opacity: 0.5;
}
header .right-side nav .icon_light{
  position: relative;
}
header .right-side nav .icon_light .moon{
  position: absolute;
  color: rgb(53, 107, 207);
 right: 0px;
 top: -5px;
 cursor: pointer;
}
header .right-side nav .icon_light .sun{
  position: absolute;
  color:#aa1e58;
  left: -20px;
  top: -5px;
  display: none;
  cursor: pointer;
}
header .right-side nav .details{
 position: relative;
 display: flex;
 align-items: center;
 width: 200px ;
 height: 50px;
 /* border: 1px solid white; */
}
header .right-side nav .details p{
  font-size: 13px;
  width: 50%;
}
header .right-side nav .details .user_image{
/* position: absolute; */
 width: 25%;
 height: 45px;
 border-radius: 50%;
 /* background-color: aqua; */
}
header .right-side nav .details .user_image  img{
 width: 100%;
 height: 100%;
 /* margin-left: 20px; */
 border-radius: 50%;
}
header .right-side .content{
    width: 90%;
    height: 30%;
    margin: auto;
    padding-top: 20px;
}
header .right-side .content h1{
    font-size: 25px;
    font-weight: 600;
}
header .right-side .content p{
  font-size: 11px;
  font-weight: 400;
  margin: 5px;
  opacity: 0.5;
}
header .right-side .content .buttons{
  margin-top: 15px;
}
header .right-side .content .buttons button{
  width: 130px;
  height: 30px;
  border: 1px solid var(--third--color);
  border-radius: 20px;
  outline: none;
  background-color: var(--third--color);
  color: var(--forth--color);
  cursor: pointer;
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
}
header .right-side .content .buttons button:hover{
 color: var(--third--color);
 background: none;
}
header .right-side .content .buttons button:nth-child(2){
  color: var(--third--color);
  background: none;
 }
 header .right-side .content .buttons button:nth-child(2):hover{
  color:var(--forth--color);
  background: var(--third--color);
 }
 header .right-side .popular-song{
     height: auto;
     width: 90%;
     margin: auto;
     margin-top: 15px;
 }
 header .right-side .popular-song .h4{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 header .right-side .popular-song .h4 i{
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3 linear;
}
header .right-side .popular-song .h4 i:hover{
 opacity: 1;
}
header .right-side .popular-song .pop-song{
 width: 100%;
 height: 130px;
 margin-top: 15px;
 display: flex;
 overflow: auto;
 scroll-behavior: smooth;
}
header .right-side .popular-song .pop-song::-webkit-scrollbar{
   display: none;
}
header .right-side .popular-song .pop-song li{
 max-width: 100px;
 height: 130px;
 list-style: none;
 margin-right: 10px;
 transition: 0.3 linear;
}
header .right-side .popular-song .pop-song li:hover{
 background-color: rgb(105, 105, 170,0.1);
}
header .right-side .popular-song .pop-song li .img_play{
   position: relative;
   height: 80px;
   width: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
}
header .right-side .popular-song .pop-song li .img_play img{
 width: 100%;
 height: 100%;
}
header .right-side .popular-song .pop-song li .img_play i{
 position: absolute;
 font-size: 20px;
 cursor: pointer;
 transition: 0.3 linear;
 opacity: 0;
}
header .right-side .popular-song .pop-song li:hover .img_play i{
  opacity: 1;
}
header .right-side .popular-song .pop-song li h5{
 padding: 5px 0 0 5px;
 line-height: 15px;
 font-size: 10px;
 width: 100px;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
header .right-side .popular-song .pop-song li h5 .title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 9px;
  opacity: 0.5;
}
header .right-side .popular_artist{
 width: 88%;
 height: auto;
 margin: auto;
 margin-top: 15px;
 /* border: 1px solid white; */
}
header .right-side .popular_artist .h4{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 header .right-side .popular_artist .h4 i{
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3 linear;
}
header .right-side .popular_artist .item{
  width: 100%;
  height: auto;
  margin-top: 15px;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}

header .right-side .popular_artist .item::-webkit-scrollbar{
  display: none;
}
header .right-side .popular_artist .item li{
   list-style: none;
   position: relative;
   min-width: 65px;
   height: 65px;
   margin-right: 20px;
   cursor: pointer;
   border-radius: 50%;
}
header .right-side .popular_artist .item li img{
width: 100%;
height: 100%; 
border-radius:50%; 
}


@media (max-width: 1100px){
 /* body{
  height: 90vh;
 } */
 header{
   transition: 1s linear;
   
}
header .bottom-side{
  z-index: 88888;
} 
  header .right-side nav ul li {
    font-size: 11px;
  } 
  header .right-side nav .details {
    width: 170px;
  }
  header .right-side nav .details .user_image {
    width: 20%;
    height: 32px;
  }
  header .right-side nav .details p {
    font-size: 12px;
  }
  header .right-side nav .icon_light .moon {
    right: -5px
  }
  header .right-side nav .icon_light .sun {
    left: -9px;
  }
  header .left-side .songs-part {
    /* height: 488px; */
    margin-top: 30px;
  }
  header .right-side .content {
    padding-top: 38px;
  }
  /* header .right-side::before {
    height: 298px;
  } */
  header .right-side .popular_artist {
    margin-top: 50px;
  }
}

@media (max-width: 991px){
  header .right-side nav .search {
    width: 43%;
}
    header .right-side nav .details {
      width: 88px;
  }
  header .right-side nav .details p {
    width: 80%;
    font-size: 10px;
  }
  header .right-side nav .details .user_image img {
    width: 90%;
    height: 90%;
    /* margin-left: 10px; */
  }
}
@media (max-width: 767px){

 .WithOpacity{
   opacity: 1;
 }
 .WithoutOpacity{
  opacity: 0;
}
header .left-side.unset{
  transform: unset;
}
  header .left-side{
    width: 40%;
    position: absolute;
    z-index: 77777;
    transition: 1s linear;
    transform: translateX(-100%);
}
  header .left-side.translate{
    transform: translateX(-100%);
}
  header .right-side {
    width: 100%;
  }
  header .left-side #menu_list_active_btn{
     position: absolute;
     right: -40px;
     bottom: 0px;
     width: 40px;
     height: 40px;
     border-radius: 0px 10px 10px 0px;
     font-size: 18px;
     display: flex;
     align-items: center;
     opacity: 1;
     justify-content: center;
     background-color: var(--primary_color);
     cursor: pointer;
     transition: 1s linear;
}
header .right-side nav ul li {
  font-size: 10px;
}
header .right-side nav .details {
  width: 80px;
}
header .right-side nav .icon_light .moon,header .right-side nav .icon_light .sun{
  font-size: 14px;
}
header .right-side nav .search {
  width: 45%;
}
header .right-side nav .details {
  width: 91px;
  /* border: 1px solid; */
  margin-right: -13px;
}
header .right-side nav .details .user_image {
  width: 30%;
}
header .right-side nav {
  width: 95%;
}
header .right-side::before {
  left: 25%;
}
}
@media (max-width:437px){
  header .left-side {
    width: 65%;
  }
  header .bottom-side{
   position: relative;
  }
  header .bottom-side .icons{
   position: absolute;
   top:-40px;
   right:25%;
  }
  header .bottom-side .icons::before{
     position: absolute;
     content:'';
     width: 170px;
    height: 130px;
     z-index:-1;
     border-radius:50% 50% 0% 0% ;
     /* left: -20%; */
     background-color: var(--primary_color);
}
  header .bottom-side .wave{
    position: absolute;
    top: -90px;
    right: 40%;
    width: 40px;
    height: 40px;
   }
   header .bottom-side .wave .wave1{
    width: 8px;
   }
   header .right-side nav .search {
    width: 35%;
    display: flex;
    align-items: center;
}
header .right-side nav .details {
  width: 58px;
}
header .right-side nav ul {
  width: 43%;
  /* border: 1px solid white; */
}
header .right-side nav ul li {
  margin-right: 10px;
  }
  header .right-side nav .details {
    width: 60px;
    /* border: 1px solid white; */
    display: flex;
    padding-right: 4px;
    
}
header .right-side nav .search {
  padding: 1px 0px;
}
/* header .right-side nav .details p {
  width: 85%;
}
header .right-side nav .details .user_image {
  width: 15%;
} */
}
@media (max-width: 380px){
  header .bottom-side .icons::before {
    width: 150px;
    height: 116px;
    left: 9%;
  }
  header .bottom-side .wave {
    right: 43%;
  }
}